@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --crystal: #FFFFFF;
  --milk: #EDEDED;
  --fur: #A3A3A3;
  --furop: rgba(255, 255, 255, 0.65);
  --gray: #424142;
  --salad: #74A541;
  --green: #487629;
  --brown: #665C54;

  --pagePadding: 60px;
}

body {
  background: var(--milk)
}

.alert-enter {
  opacity: 0;
  transform: translateX(100%);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 500ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}